@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Comfortaa', cursive;
}

#container {
  width: 100%;
  height: 100%;
}

#score {
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
  font-size: 8vh;
  transition: transform 0.5s ease;
  color: #333344;
  transform: translatey(-200px) scale(1);
}

#version {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-over * {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  opacity: 0;
  transform: translatey(-100px);
  color: #333344;
}

.game-over h2 {
  margin: 0;
  padding: 0;
  font-size: 28px;
}

.game-ready {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-ready #start-button {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  opacity: 0;
  transform: translatey(-50px);

  border: 3px solid #333344;
  padding: 10px 20px;
  background-color: transparent;
  color: #333344;
  font-size: 30px;
}

#instructions {
  position: absolute;
  width: 100%;
  top: 29vh;
  left: 0;
  text-align: center;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  opacity: 0;
}

#instructions.hide {
  opacity: 0 !important;
}

.playing #score,
.resetting #score {
  transform: translatey(0px) scale(1);
}

.playing #instructions {
  opacity: 1;
}

.ready .game-ready #start-button {
  opacity: 1;
  transform: translatey(0);
}

.ended #score {
  transform: translatey(4vh) scale(1.2);
}

.ended .game-over * {
  opacity: 1;
  transform: translatey(-38px);
}

.ended .game-over p {
  transition-delay: 0.3s;
}

#leaderboard {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  right: 10px;
  width: 90%;
  background-color: #fff;
  border: solid 3px #333344;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 100;
}

.leaderboard-title {
  font-size: 10px;
  font-weight: bold;
  flex-shrink: 0;
}

#leaderboard-list {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  z-index: 100;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}

#leaderboard-list::-webkit-scrollbar {
  display: none;
}

.leaderboard-item {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  font-size: 8px;
  background-color: #d0cbc7;
  padding: 2px 3px;
}

#leaderboard-list img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}

#feed {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 140px;
  height: 130px;
  overflow-y: auto;
  z-index: 100;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#feed::-webkit-scrollbar {
  display: none;
}

#feed .feed-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  flex-shrink: 0;
}

#feed .feed-item img {
  width: 20px;
  height: 26px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}
